[submodule "third_party/solar2d_native_utils"]
	path = third_party/solar2d_native_utils
	url = https://github.com/ggcrunchy/solar2d_native_utils.git
[submodule "third_party/ByteReader"]
	path = third_party/ByteReader
	url = https://github.com/ggcrunchy/ByteReader.git
[submodule "third_party/polypartition"]
	path = third_party/polypartition
	url = https://github.com/ivanfratric/polypartition.git
[submodule "third_party/earcut"]
	path = third_party/earcut
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "third_party/nanovg"]
	path = third_party/nanovg
	url = https://github.com/memononen/nanovg.git
