[submodule "third_party/polypartition"]
	path = third_party/polypartition
	url = https://github.com/ivanfratric/polypartition.git
[submodule "third_party/earcut"]
	path = third_party/earcut
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "third_party/nanovg"]
	path = third_party/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "third_party/clipper2"]
	path = third_party/clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
